html,
body {
  /*margin-left: 1em;*/
  margin-top:3em;
  font-weight: 300;
  line-height: 1.6;
  color: #666;
}

a {
  color: grey;
  text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: underline;
}
div.header a{
  padding-right: 0.25em;
  padding-left:0.25em;
}
* {
  box-sizing: border-box;
}

ul {
  list-style-type:georgian;
}

li{
  padding-left: 1em;
}

div.header h1 {
  border-bottom-width: 1px;
  border-bottom-style: ridge;
  border-bottom-color: initial;
}


div.footer {
    border-top-style: ridge;
    text-align: center;
}

#wrapper {
  padding: 2em;
}
#wrapper h1 {
  font-size: 32px;
  display: inline-block;
  margin: 0 0 1em 0;
  color: #000;
}

iframe {
  border-color: #0000
}

#wrapper section {
  width: 100%;
  max-width: 700px;
  margin: 0 0 80px 0;
}
#wrapper section h2 {
  font-size: 20px;
  color: #000;
  margin: 0;
}
#wrapper section p {
  margin: 0 0 1em 0;
}
#wrapper section ul {
  list-style: none;
  color: #000;
}
#wrapper section ul li {
  margin: 0 0 0.5em 0;
}
#wrapper section ul li:before {
  content: "-";
  position: absolute;
  margin: 0 0 0 -20px;
}
#wrapper section a {
  color: #000;
  border-bottom: 1px solid #000;
  text-decoration: none;
}
#wrapper section a:hover {
  background: #000;
  color: #fff;
}
