<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {{- block "title" . -}}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
        {{- end -}}
    </title>
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/custom.css">
    {{ $styles := resources.Get "css/style.css" | minify -}}
    <style>
        {{- $styles.Content | safeCSS -}} 
    </style>


    {{- if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{- end -}}


    {{ template "_internal/google_analytics_async.html" . }}

    {{ partial "head_custom" . }}
</head>