{{ define "main"}}
    <main id="main">
<div>
<h1>It seems that this page does not exist yet</h1>
<br>
<div>Maybe it should?</div> 
<br>
<br>
<div> 𓁻 &nbsp;𓁻                             </div>
<br>
<br>
<div style="text-align: center"> ᜑ ᜃ ¯\_(ツ)_/¯ ᜃ ᜑ          </div>
<br>
<br>
<div style="text-align: right;"> 𓁻 &nbsp;𓁻    </div>
<br>
<br>
<br>
   </main>
{{ end }}